html {
  scroll-behavior: smooth;
}
body {
  color: #3e4144;
  background-color: rgba(247, 210, 202, 0.281);
  font-family: Montserrat;
  
}
.navbar {
  margin-bottom: 0;
  background-color: #F2B9AC;
  font-size: 1rem !important;
  line-height: 3rem !important;
  letter-spacing: .25rem;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #F2B9AC !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.name {
  font-family: Lobster;
}
.jumbotron {
  background-color: rgba(247, 210, 202, 0.281);
  color: #3e4144;
  height: 100vh;
  margin-bottom: 0;

}
.jumbotron h1 {
  color: rgb(1, 195, 243);
}


.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top: 5%;
}

@media (max-width: 576px) {
  .img-fluid {
    padding-top: 15%;
  }
}



@media (min-width: 576px) {
  .section {
    height: 100vh;
    padding-top: 25% auto;
  }
}

hr {
  border: 0;
  height: .5rem;
  background: linear-gradient(0.25turn,#e66465, #9198e5);
}

.social-icons .fab {
  font-size: 2rem;
  color: rgb(1, 195, 243);
  letter-spacing: .25rem;
}

h2 {
  font-weight: 700;
}